<!DOCTYPE html>
<html>
<head>
    <title>Aicha Hat Swag</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'playground/style.css' %}">
</head>
<body>
    <h1>Mein name ist aicha</h1>
    <p>Ich bin 13 jahre alt</p>
    <p>Ich mag animeee</p>
    <h2>Ich bin</h2>
    <li>cool</li>
    <li>super cool</li>
    <li>mega cool</li>
    <li>SUPER MEGA COOL MAN</li>
    <h2>Meine Lieblingsserien:</h2>
    <li>-haikyuu</li>
    <li>-attack on titan</li>
    <li>-und tokyo revengers :)</li>
    <h2>Meine hobbies sind</h2>
</body>
</html>